extends layout

block content
  h1= time
  h1 Andrew's RESTful API
  h2 Timestamp Microservice
  p.red Example Usage
  code localhost:3000/November 8, 2014
  br
  code localhost:3000/1415463675
  p.red Expected Output is JSON
  code { "unix": 123456789, "natural": February 7, 2017 }